body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    margin-left: 100px;
}

header, section, footer {
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

img {
    border-radius: 45%;

}
